html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #f7f5f6;
    padding-top: 70px;

}

* {
  border-radius: 0 !important;
}

header {
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
    background-color: #1a2930;
    color: #ffffff;
    font-size:1 3px;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
}

legend {
    background-color: grey;
    color: #ffffff;
    padding: 10px;
}

/*custom css*/
#pro-logo {
    width: 15%;
    height: auto;
}

#acdh-logo {
    width: 25%;
    height: auto;
    padding: 10px 0 10px 0;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
}

@media (max-width: 768px) {
    #acdh-logo, #orea-logo {
        width: 15%;
    }
    #github-logo {
        width: 7%;
    }
}



@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}
.navbar {
    background-color: #f7f5f6;
    /*background-color:  #1a2930;*/
    padding: 5px 15px 5px 15px;
    margin: 0px;
    padding: 0px;

}


.navbar-default .navbar-nav>li>a {
    color: #1a2930;
    line-height: 200%;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*color: #ffffff;*/
}
.navbar-nav {
    
}

.responsive-tabs.nav-tabs > li.active > a {
    background-color: #ced0d4;
}

.responsive-tabs.nav-tabs > li > a:hover {
    color: #333333;
}


.btn {
    font-weight: bold;
    font-variant: small-caps;
    white-space: normal;
}

.btn-default {
    margin-bottom: 10px;
}

.index-image {
    height: 70vh;
    /*-webkit-clip-path: inset(0px 10px 0px 10px);
    clip-path: inset(0px 10px 0px 10px);*/
    margin-top: -25px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: cover;
}

.top-main-section {
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);
    opacity: 0.75;
}
#hp-intro-text {
    z-index: 1;
    margin-top: -400px;
    float: left;
    width: 40%;
    margin-left: 0px;
    padding-left: 100px;
    padding-right: 20px;
   
}
@media (max-width: 1000px) {
    #hp-intro-text {
    width: 50%;
    }
}
@media (max-width: 768px) {
    #hp-intro-text {
    width: 100%;
    padding-left: 20px;
    }
}

#hp-intro-text > h1 {
    color: #1a2930;
    font-weight: bold;
}
#hp-intro-text > h4 {
    color: #000;
    
}
#hp-intro-text > .h-hr {

    height: 4px;
    border: 0;
    background: #f7ce3e;

}
.index-content {
    
}
.main-flexbox {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row;
    flex: 1 0 0;
}
.main-flexbox > .card {
    height: 100%;
    margin: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);
    flex: 3 1 50%;
    order: 0;

}
/* Too narrow to support two columns, make one */
@media all and (max-width: 640px) {
    .main-flexbox {
        display: block;
        flex-direction: column;
    }
    .main-flexbox>.card {
        margin: 10px;
        padding: 20px;
        /* Return them to document order */
        order: 0;
    }
/*    .main-flexbox>aside {
        min-height: auto;
        max-height: auto;
    }*/
}


