{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block Titel %} See all {{ object.classname }} {% endblock %}
{% block scriptHeader %}
  <!--leafletjs -->
     <!-- <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script> -->
    <!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>


    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.css' %}"/></link>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.Default.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
    <style>
   #map { 
          height: 800px; 
          margin-top: 30px;
          margin-bottom: 30px;
        }
    .image-icon img {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50% !important;
    border: solid;
    border-color: #f7ce3e;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
   
	}

	.image-icon img:hover, .image-icon img:active {
	 -webkit-transform:scale(3.75); /* Safari and Chrome */
    -moz-transform:scale(3.75); /* Firefox */
    -ms-transform:scale(3.75); /* IE 9 */
    -o-transform:scale(3.75); /* Opera */
     transform:scale(3.75);

 	}
    .pop-up-image {
        height: 130px !important;
    width: 130px !important;
     /*border-radius: 50% !important;*/
    border: solid;
    border-color: #f7ce3e;
  
    }
    .pop-up-image:hover, .pop-up-image:active {
       
    }

    </style>

{% endblock %}
{% block content %}


	<h1 class="text-center">Brixen map</h1>
	
	<div class="empty-div"></div>

<div id="map"></div>
 <script>


    var mapLayerGroups = [];
    function onEachFeature(feature, layer) {
            var lg = mapLayerGroups[feature.relation_type];
            if (lg === undefined) {
                lg = new L.layerGroup();
                mapLayerGroups[feature.relation_type] = lg;
            }

            //add the feature to the layer
            lg.addLayer(layer);
            //mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});

            if (feature.properties && feature.properties.popupContent) {
                popupContent = feature.properties.popupContent;
            }

            layer.bindPopup(feature.properties.popupContent);

        };


        var mymap = L.map('map', {
            fullscreenControl: true,
        }).setView([0, 0], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(mymap);

        var markers = L.markerClusterGroup({});




        var build_data =  [
        {% for object in inschrifts %}
        {% if object.genauer_standort.lat %}
        {"geometry": 
          {"type": "Point", "coordinates": [ {{ object.genauer_standort.lng }}, {{ object.genauer_standort.lat }} ]},
         "type": "Feature",
     "properties": {"popupContent":
     {% if object.genauer_standort.lat and object.images.all %}
    {% with  object.images.all|first as x %}
         "<a href='{%url 'inschriften:inschrift_detail' pk=object.id %}'><img src='{{x.fetch_binary}}' title='Go to detail view of ID {{ object }}' class='pop-up-image'/></a>"
        },
         {% endwith %} 
         {% else %}
         "<a href='{%url 'inschriften:inschrift_detail' pk=object.id %}'>No image provided. <br>Go to detail view of ID {{ object }}</a>"},
     {% endif %}

          "id": "{{ x.id }}"}
         {% if forloop.last %}
          {% else %}
          ,
          {% endif %}
          {% endif %}
          {% empty %}
     
          
          {% endfor %}]
        var geoJsonLayer = L.geoJson( build_data, {onEachFeature: onEachFeature});
        markers.addLayer(geoJsonLayer);
        mymap.addLayer(markers);
        mymap.fitBounds(markers.getBounds(), {'maxZoom': 12});


    </script>





{% endblock %}