{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block Titel %} See all {{ object.classname }} {% endblock %}
{% block scriptHeader %}
  <!--leafletjs -->
     <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <style>
   #mymap { 
   	height: 800px; 
   }
    .image-icon img {
    height: 52px !important;
    width: 52px !important;
    border-radius: 50% !important;
    border: solid;
    border-color: #f7ce3e;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
   
	}

	.image-icon img:hover, .image-icon img:active {
	 -webkit-transform:scale(3.75); /* Safari and Chrome */
    -moz-transform:scale(3.75); /* Firefox */
    -ms-transform:scale(3.75); /* IE 9 */
    -o-transform:scale(3.75); /* Opera */
     transform:scale(3.75);

 	}

    </style>

{% endblock %}
{% block content %}


	<h1 class="text-center">Brixen map</h1>
	
	<div class="empty-div"></div>

<div id="mymap"></div>

<script type="text/javascript">
var mymap = L.map('mymap').setView([46.71445, 11.65699], 17);



{% for object in inschrifts %}
    {% if object.genauer_standort.lat and object.images.all %}
    {% with  object.images.all|first as x %}

var varimage = "<a href='{%url 'inschriften:inschrift_detail' pk=object.id %}'><img src='{{x.fetch_binary}}' title='Go to detail view of ID {{ object }}'/></a>";

{% endwith %}
var marker = new L.Marker([{{ object.genauer_standort.lat }}, {{ object.genauer_standort.lng }}], {
    icon: L.divIcon({
        html: varimage,
        // Specify a class name we can refer to in CSS.
        className: 'image-icon',
        // Set a markers width and height.
        iconSize: [52, 52]
    })
});
marker.addTo(mymap);
// .bindPopup("{{object}}");
    {% endif %}
 {% endfor %}


L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 21,
    id: 'mapbox.light',
    accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
}).addTo(mymap);
		

</script>



{% endblock %}
