{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block Titel %} See all {{ object.classname }} {% endblock %}
{% block scriptHeader %}

<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/>
<script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.css' %}"/></link>
<link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.Default.css' %}"/></link>
<script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
<style>
#map { 
    height: 900px; 
}
.pop-up-image {
    height: auto !important;
    width: 180px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info {
    background-color: #ffffff;
    padding: 20px;
}
.h-hr {
    height: 4px;
    border: 0;
    background: #f7ce3e;
}
@media (max-width: 768px) {
    .info {
        width: 60%;
    }
}
</style>

{% endblock %}
{% block explore-map %}
  
<div id="map"></div>
 <script>
    var mapLayerGroups = [];
    function onEachFeature(feature, layer) {
            var lg = mapLayerGroups[feature.relation_type];
            if (lg === undefined) {
                lg = new L.layerGroup();
                mapLayerGroups[feature.relation_type] = lg;
            }

            //add the feature to the layer
            lg.addLayer(layer);
            //mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});

            if (feature.properties && feature.properties.popupContent) {
                popupContent = feature.properties.popupContent;
            }

            layer.bindPopup(feature.properties.popupContent, {
        closeButton: true
    });

        };

        var mymap = L.map('map', {
            fullscreenControl: true,
        }).setView([0, 0], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(mymap);


        //add info panel on the map
        var info = L.control();
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };
        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = '<h3>Die Brixner Inschriften Map</h3><hr class="h-hr">';
        };
        info.addTo(mymap);

        var markers = L.markerClusterGroup({});
        //data
        var geojsonFeature =  {
        "type": "FeatureCollection",
          "features":
        [
        {% for object in inschrifts %}
        {% if object.genauer_standort.lat %}
        {
        "geometry": {
            "type": "Point",
            "coordinates": [ {{ object.genauer_standort.lng }}, {{ object.genauer_standort.lat }} ]
        },
        "type": "Feature",
        "properties": {
            "popupContent":
            "{% if object.images.all %}{% with  object.images.all|first as x %}<a href='{%url 'inschriften:inschrift_detail' pk=object.id %}'><img src='{{x.fetch_binary}}' title='ID {{ object }}' class='pop-up-image'/></a><br>{% endwith %} {% endif %}<a class='read-more' href='{%url 'inschriften:inschrift_detail' pk=object.id %}'><h4><b>Inschrift ID {{ object }}</b></h4></a>{% if object.gattung.all %}<b>Gattung: </b>{% for x in object.gattung.all %}{{ x.pref_label }}<br>{% endfor %}{% endif %}{% if object.traeger.all %}<b>Traeger: </b>{% for x in object.traeger.all %}{{ x.pref_label }}<br>{% endfor %}{% endif %}{% if object.datierung_inschrift_written %}<b>Datierung: </b>{{ object.datierung_inschrift_written }}{% endif %}",
            "images": "{% if object.images.all %}images{% else %}noImages{% endif %}"
        },
        "id": "{{ object.id }}"
        }
        {% if forloop.last %}

        {% else %}
        ,
        {% endif %}
        {% endif %}
        {% empty %}
        {% endfor %}]
        };
       
        var geoJsonLayer = L.geoJson(geojsonFeature, {onEachFeature: onEachFeature});
        markers.addLayer(geoJsonLayer);
        mymap.addLayer(markers);
        mymap.fitBounds(markers.getBounds(), {'maxZoom': 18});

    </script>
{% endblock %}