{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
    <div class="container text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'webpage/img/ACDH_Panorama_Postkarte_motiv01.jpg' %}" alt="First" width="1200" height="600" title="by Sandra Lehecka" />
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="{% static 'webpage/img/ACDH_Panorama_Postkarte_motiv02.jpg' %}" alt="a nice feature picture" width="1200" height="600" title="by Sandra Lehecka" />
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"></a>
        </div>
        <h1 style="text-align:center">Brixner Inschriften</h1>
        <h3>{% projects_metadata 'subtitle' %}</h3>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Das Projekt „Die Brixner Inschriften. Bestandsaufnahme der epigraphischen Zeugnisse des Mittelalters und der Frühen Neuzeit“ (2011-2013) zielte darauf ab, alle Inschriften auf dem Gebiet der Stadtgemeinde Brixen (Südtirol) aus dem Zeitraum zwischen dem 13. Jahrhundert und dem Jahr 1665 zu fotografieren, zu transkribieren und zu beschreiben. In einem zweiten Schritt machen wir nun die Ergebnisse der Arbeit in einer Online-Datenbank für alle Interessierten zugänglich.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    The project „The inscriptions of Brixen / Bressanone. Survey of the epigraphic testimonies of the Middle Ages and the Early Modern Period” (2011-2013) aimed at photographing, transcribing and describing all inscriptions on the territory of the municipality of Brixen/Bressanone (South Tyrol) from the period between the 13th century and the year 1665. As a second step, we make the results of this work accessible in an online database.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
