{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Titel %} {{ object.legacy_id }} {% endblock %}
{% block scriptHeader %}
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
        <style>
            #mymap { height: 500px; }
        </style>
{% endblock %}
{% block content %}
<script src="{% static 'images/openseadragon/openseadragon.min.js' %}"></script>

<div class="container">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'inschriften:inschrift_detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous area"></span></a>
                    </h2>
                {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                      {{ object.transkription_normalized|truncatechars:20 }}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'inschriften:inschrift_detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next area"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <legend>Text</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Transkription (diplomatisch)</th>
                                <th>Transkription (normalisiert)</th>
                            </tr>
                            <tr>
                                <td>{{ object.transkription }}</td>
                                <td>{{ object.transkription_normalized }}</td>
                            </tr>
                        </table>

                        <legend>Standort</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th width="66%">aktueller Standort</th>
                                <th>alter Standort</th>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li>{{ object.genauer_standort.part_of.part_of.part_of }}</li>
                                            <ul>
                                                <li>{{ object.genauer_standort.part_of.part_of }}</li>
                                                <ul>
                                                    <li>{{ object.genauer_standort.part_of}}</li>
                                                    <ul>
                                                        <li>{{ object.genauer_standort}}</li>
                                                    </ul>
                                                </ul>
                                            </ul>
                                        </ul>
                                    </ul>
                                </td>
                                <td>{{ object.alter_standort }}</td>
                            </tr>
                        </table>

                        <div id="mymap"></div>

                        <legend>Metadaten</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Resch Kopial Signatur</th>
                                <td>{{ object.resch_kopial_signatur }}</td>
                            </tr>
                            <tr>
                                <th>Resch Kopial Text</th>
                                <td>{{ object.resch_kopial_text }}</td>
                            </tr>
                            <tr>
                                <th>Andere Kopial Signatur</th>
                                <td>{{ object.andere_kopial_signatur }}</td>
                            </tr>
                            <tr>
                                <th>Referenzen/Quellen</th>
                                <td>{{ object.quellen_unstruktieriert }}</td>
                            </tr>
                        </table>

                        <legend>Schrift</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Schrifthöhe (min/max)</th>
                                <td>{{ object.schrift_hoch_min }}/{{ object.schrift_hoch_max }}</td>
                            </tr>
                            <tr>
                                <th>Schriftbreite (min/max)</th>
                                <td>{{ object.schrift_breit_min }}/{{ object.schrift_breit_max }}</td>
                            </tr>
                            <tr>
                                <th>Majuskel (min/max)</th>
                                <td>{{ object.majuskel_min }}/{{ object.majuskel_max }}</td>
                            </tr>
                            <tr>
                                <th>Minuskel (min/max)</th>
                                <td>{{ object.minuskel_min }}/{{ object.minuskel_max }}</td>
                            </tr>
                            <tr>
                                <th>Mittellänge (min/max)</th>
                                <td>{{ object.mittellaenge_min }}/{{ object.mittellaenge_max }}</td>
                            </tr>
                            <tr>
                                <th>Oberlänge (min/max)</th>
                                <td>{{ object.oberlaenge_min }}/{{ object.oberlaenge_max }}</td>
                            </tr>
                        </table>

                        <legend>Farbe</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Farbträger</th>
                                <td>{{ object.farbtraeger }}</td>
                            </tr>
                            <tr>
                                <th>Farbtschrift</th>
                                <td>{{ object.farbschrift }}</td>
                            </tr>
                            <tr>
                                <th>Erhaltungszustand</th>
                                <td>{{ object.erhaltungszustand }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                    {% for x in object.images.all %}
                    <div class="panel panel-default" style="text-align:center">
                        <div class="panel-heading"><strong>{{ x.filename }}</strong><br/>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" id="zoom-in-{{ forloop.counter }}">Zoom In</button>
                                <button type="button" class="btn btn-primary" id="home-{{ forloop.counter }}">Default</button>
                                <button type="button" class="btn btn-primary" id="zoom-out-{{ forloop.counter }}">Zoom Out</button>
                                <button type="button" class="btn btn-primary" id="full-page-{{ forloop.counter }}">Full Sceen</button>
                            </div>
                        </div>
                        <div class="panel-body" id="dragon-{{ forloop.counter }}" style="width: 100%; height: 250px">
                            <a href="{{ x }}">dragon-{{ forloop.counter }}</a>
                        </div>
                        <script type="text/javascript">
                            var viewer = OpenSeadragon({
                                id: "dragon-{{ forloop.counter }}",
                                tileSources: "{{ x }}",
                                zoomInButton:   "zoom-in-{{ forloop.counter }}",
                                zoomOutButton:  "zoom-out-{{ forloop.counter }}",
                                homeButton:     "home-{{ forloop.counter }}",
                                fullPageButton: "full-page-{{ forloop.counter }}",
                            });
                        </script>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    {% if object.genauer_standort.part_of.lng %}
        var lng = parseFloat({{ object.genauer_standort.part_of.lng }});
        var lat = parseFloat({{ object.genauer_standort.part_of.lat }});
        var popupTitle = "<h3>{{ object.genauer_standort.part_of }}</h3>";
        var initZoom = 18
    {% else %}
        var lng = parseFloat({{ object.genauer_standort.part_of.part_of.part_of.lng }});
        var lat = parseFloat({{ object.genauer_standort.part_of.part_of.part_of.lat }});
        var popupTitle = "<h3>{{ object.genauer_standort.part_of.part_of.part_of }}</h3>";
        var initZoom = 13
    {% endif %}
    console.log(popupTitle, lng, lat);

    var mymap = L.map('mymap', {
            fullscreenControl: true,
        }).setView([lng, lat], initZoom);

    var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.light',
    accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ',
    });

    baseLayer.addTo(mymap);

    L.marker([lng, lat]).addTo(mymap)
    .bindPopup(popupTitle);

    var defaultLayers = {
        "Default": baseLayer
    }

    var overlayMaps = {
        "Dinamlex": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/test.map&mode=tile&layers=test&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7}),
        "Tirol": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/tirol.map&mode=tile&layers=tirol&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7}),
        "Czoernig": L.tileLayer('https://maps.acdh.oeaw.ac.at/mapserv?map=/data/czoernig.map&mode=tile&layers=czoernig&tilemode=gmap&tile={x}+{y}+{z}', {'maxZoom': 18, 'opacity': 0.7})
    };
    L.control.layers(defaultLayers, overlayMaps).addTo(mymap);
</script>
{% endblock content %}
