{% extends "webpage/base.html" %}
{% load static %}
{% block title %} {{ object.name }} {% endblock %}
{% block scriptHeader %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'inschriften:person_detail' pk=object.get_prev %}">
                            <i class="fas fa-chevron-left" title="previous"></i>
                        </a>
                    </h2>
                {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        {{ object.name}}
                        {% if user.is_authenticated %}
                            <a href="{% url 'inschriften:person_update' pk=object.id %}">
                                <i class="fas fa-edit" title="edit"></i>
                            </a>
                            |
                            <a href="{% url 'inschriften:person_delete' pk=object.id %}">
                                <i class="fas fa-trash-alt" title="delete"></i>
                            </a>
                        {% endif %}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'inschriften:person_detail' pk=object.get_next %}" style="float:right">
                            <i class="fas fa-chevron-right" title="next"></i>
                        </a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Name
                    </th>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Vorname
                    </th>
                    <td>
                        {{ object.vor_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Nachname
                    </th>
                    <td>
                        {{ object.nach_name }}
                    </td>
                </tr>
                {% if object.titel_grad_beruf %}
                    <tr>
                        <th>
                            Titel/Grad/Beruf
                        </th>
                        <td>
                            {{ object.titel_grad_beruf }}
                        </td>
                    </tr>
                {% endif %}
                {% if object.gnd_id %}
                    <tr>
                        <th>
                            GND-ID
                        </th>
                        <td>
                            {{ object.gnd_id }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>
                        Erzeuger von
                    </th>
                    <td>
                        {% for x in object.kuenstler.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        erwähnt in
                    </th>
                    <td>
                        {% for x in object.kennname.all %}
                            <li>
                                <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
            </table>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
